@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: Heebo;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
#loading-spinner {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #000000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.arrow {
  color: #222;
  margin-left: 7px;
}
.headlinerr {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 10px;
  height: 30px;
  padding-top: 0.5%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #ffffff;
}
nav a {
  text-decoration: none;
  color: #222;
  margin: 0 25px;
}
nav a:hover {
  font-weight: 500;
}
#logo {
  flex: 1;
  text-align: center;
  margin-left: 2%;
}
#logo img {
  height: auto;
}
.dropbtn {
  background-color: #ffffff;
  font-size: 16px;
  border: none;
}
.dropbtn a {
  color: black;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.dropdown-content a {
  color: #222;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.row {
  width: 100%;
  align-items: center;
  justify-content: center;
}
.carousel-caption button {
  font-size: 11px;
}
.card {
  position: relative;
  width: 100%;
  margin-top: 10%;
  transition: 0.3s;
}
.card:hover {
  scale: 101%;
  transition: 0.3s;
  box-shadow: 0px 0px 20px #00000033;
}
.overlay {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;
}
.overlay button {
  background-color: black;
  border: 0;
  border-radius: 0%;
  transition: 0.5s;
  font-size: 11px;
}

.overlay button:hover {
  background-color: #ffffff;
  color: #222;
  transition: 0.5s;
}
.overlay2 a {
  text-decoration: none;
  color: black;
}
.overlay2 a h2 {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  text-shadow: 0px 2px 2px black;
}
.overlay2 {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;
  text-align: center;
}
.ourTeam h1 {
  text-align: left;
  font-size: 35px;
  padding-left: 1.5%;
}
.descriptions h3 {
  font-size: 25px;
  text-align: right;
}

.card:hover .overlay {
  opacity: 1;
}
.carousel-caption button {
  background-color: black;
  border: 0;
  border-radius: 0%;
  transition: 0.5s;
}
.carousel-caption button:hover {
  background-color: #ffffff;
  color: #222;
  transition: 0.5s;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
#logo {
  margin-top: 10px;
}

.footInfo {
  text-align: center;
  padding: 0.5%;
  font-size: 20px;
  font-weight: 500;
}

.icons {
  color: black;
  margin: 1%;
}

.layoutt {
  background-color: #000000;
  padding: 1%;
  padding-right: 0.5%;
  color: white;
  margin-bottom: 1%;
  height: auto;
}
.leftbox {
  width: 100%;
  max-width: 300px;
  height: 300px;
  padding: 20px;
  margin: auto;
  text-align: justify;
}
.leftbox a {
  float: right;
  text-decoration: none;
  color: white;
  margin-top: 5%;
}
.leftbox h1 {
  margin: 4%;
  font-size: 55px;
}
.leftbox p {
  font-size: 17px;
  margin: 4%;
}
.bar {
  background-color: #000000;
}
.textBlog {
  height: 300px;
  float: left;
}
.imgBlog img {
  height: auto;
  width: 120%;
  float: right;
}
footer {
  background-color: #000000;
  color: white;
  position: static;
  font-size: 13px;
}
i {
  color: white;
}
#hoverEffect {
  animation: myAnimDown 0.3s ease 0s 1 normal forwards;
}
#hoverEffect:hover {
  background-color: black;
  animation: myAnimUp 0.3s ease 0s 1 normal forwards;
}

.text-div {
  text-align: justify;
  margin: 5%;
  font-size: 17px;
  color: #000000;
}
.link-div {
  text-align: center;
  padding: 2%;
}
.link-div a {
  text-decoration: none;
  color: black;
}
.link-div a i {
  color: black;
}
.image-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

.image-container img {
  object-fit: cover;
}
.gallery {
  justify-content: center;
  align-items: center;
}

.ourTeam {
  margin: 7%;
}

@keyframes myAnimUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
@keyframes myAnimDown {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 767px) {
  .carousel-caption button {
    display: none;
  }
  #logo img {
    height: 33px;
  }
  nav a {
    font-size: 8px;
    justify-content: space-between;
  }
  .card {
    width: 100%;
  }
  .footInfo {
    font-size: 15px;
  }
  .textLayout a {
    float: right;
    text-decoration: none;
    color: white;
    margin-bottom: 10%;
  }
  .textLayout h1 {
    margin: 2%;
    font-size: 30px;
  }
  .textLayout p {
    font-size: 17px;
    margin: 2%;
  }
  .imageLayout img {
    margin-left: 2%;
    margin-bottom: 2%;
  }
  .bar {
    background-color: white;
  }
  .image-container img {
    object-fit: cover;
    width: 95px;
  }

  .herotext {
    flex: 1;
    padding: 5%;
    text-align: justify;
    padding-left: 15%;
  }
  .herotext p {
    font-size: 12px;
  }

  .heroimage {
    min-width: 250px;
  }
}
@media (max-width: 1024px) {
  .container {
    width: 100%;
  }
  .card {
    margin: 4.5%;
    width: 95%;
  }
  .headlinerr {
    padding-top: 1%;
  }
  .textLayout a {
    float: right;
    text-decoration: none;
    color: white;
    margin-top: 10%;
  }

  .textLayout h1 {
    margin: 4%;
    font-size: 30px;
  }
  .text-div h2 {
    font-size: 20px;
  }
  .textLayout p {
    font-size: 14px;
    margin: 4%;
  }
  .text-div {
    font-size: 14px;
    color: #000000;
  }
  .imageLayout img {
    margin-left: 2%;
  }
  .herotext {
    flex: 1;
    padding: 5%;
    text-align: justify;
    padding-left: 15%;
  }
  .herotext p {
    font-size: 12px;
  }

  .heroimage {
    min-width: 250px;
  }
}
@media (min-width: 1025px) {
  .container {
    width: 100%;
  }
  .card {
    margin: 4.5%;
    width: 95%;
  }
}
.news {
  font-size: 13px;
  margin-top: 50px;
  text-align: left;
  text-align: justify;
  color: rgb(94, 94, 94);
}
.nation {
  font-weight: 700;
  font-size: 17px;
  color: rgb(117, 117, 117);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: #000;
  width: 80%;
  max-width: 800px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  color: #fff;
  padding: 20px;
}
.form2 {
  width: 80%;
  max-width: 800px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  color: #fff;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}
.map iframe {
  width: 90%;
  height: 400px;
  border: 0;
}
.line {
  background-color: rgb(255, 255, 255);
  height: 2px;
  width: 100%;
}
.forms {
  padding: 5%;
}

.input-group {
  position: relative;
  margin-top: 20px;
}
.newsletter {
  background-color: #ffffff;
  color: #000000;
  padding: 2%;
  transition: 0.3s;
  border: 0;
  margin-top: 2%;
}
.newsletter:hover {
  background-color: #000000;
  color: #ffffff;
  padding: 2%;
  transition: 0.3s;
  border: 1px solid rgb(255, 255, 255);
}
input,
textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
  color: #000000;
  outline: none;
}
.social {
  margin-top: 20%;
}
.input2 {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  outline: none;
}
label {
  position: absolute;
  top: 10px;
  left: 0;
  transition: 0.3s ease-out;
  color: rgba(141.31250202655792, 141.31250202655792, 141.31250202655792, 1);
}

.label2 {
  position: absolute;
  top: 10px;
  left: 0;
  transition: 0.3s ease-out;
  color: rgb(141, 138, 138);
}

input:focus ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label {
  top: -10px;
  font-size: 12px;
  color: #000000;
}

.options {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.option {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: black;
}

.subject {
  color: #000;
  font-size: 12px;
  margin-right: 8px;
}

.checkbox {
  background-color: rgba(
    224.18749898672104,
    224.18749898672104,
    224.18749898672104,
    1
  );
  width: 13px;
  height: 13.240740776062012px;
  border-radius: 3px;
}

.submit-btn {
  background-color: #000;
  color: #fff;
  padding: 2%;
  border: 0;
  transition: 0.3s;
}
input:focus ~ .label2,
textarea:focus ~ .label2,
input:valid ~ .label2,
textarea:valid ~ .label2 {
  top: -10px;
  font-size: 12px;
  color: #ffffff;
}
.submit-btn:hover {
  background-color: #ffffff;
  color: #000000;
  padding: 2%;
  border: 1px solid black;
  transition: 0.3s;
}

.form h1 {
  text-align: left;
  font-size: 30px;
  margin-left: 2%;
}
.form h5 {
  color: rgb(94, 94, 94);
  text-align: left;
  font-size: 15px;
  padding-bottom: 10%;
  margin-left: 2%;
}
.form p {
  text-align: left;
  margin-top: 10%;
  padding-bottom: 8%;
  margin-left: 2%;

  font-size: 18px;
}
.form2 h1 {
  color: #000;
}
.form a {
  margin: 0;
}
.form p button {
  text-align: left;
  margin-top: 5%;
  padding-bottom: 8%;
  margin-left: 1%;
  background-color: black;
  font-size: 18px;
  color: white;
  border: 0;
  font-weight: 100;
}
.hoodies {
  padding: 2%;
  font-size: 20px;
  text-align: left;
}
iframe {
  width: 96%;
}
.caption {
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  color: #000;
}
.caption a {
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  color: #000;
}
button a {
  text-decoration: none;
  color: white;
}
button a:hover {
  text-decoration: none;
  color: black;
}

.herotext {
  flex: 1;
  padding: 5%;
  text-align: justify;
  padding-left: 15%;
}
.herotext p {
  font-size: 18px;
}
.heroimage {
  flex: 1;
  text-align: center;
  width: 540px;
}
.product-container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
.product-images {
  padding-left: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.product-images img {
  width: 45%;
  max-width: 400px; /* Set a maximum width for the images */
  margin-bottom: 10px;
}

.product-details {
  background-color: #ffffff;
  padding: 20px;
  text-align: left;
}

.pname {
  margin-bottom: 20px;
  font-size: 25px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.size {
  margin-bottom: 5px;
  font-size: 12px;
}

.sizes {
  background-color: rgb(199, 199, 199);
  width: fit-content;
  padding: 5px;
}

.availability {
  margin-bottom: 15px;
  font-size: 13px;
}

.availability i {
  color: rgb(112, 185, 1);
}

.add-to-cart {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;
  border: 0;
  transition: 0.3s;
}

.add-to-cart:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid black;
  transition: 0.3s;
}
